<ion-content [fullscreen]="true">
  <div class="ion-page" id="main-content">
    <ion-buttons slot="end" id="menu-button">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="liveView" class="videoView">
      <video id="webcam" autoplay playsinline></video>
    </div>
    <p id="message">{{this.functionalStateService.textLabels.text}}</p>
  </div>
</ion-content>

<ion-alert
  [isOpen]="this.functionalStateService.isAlertOpen"
  header="{{ this.functionalStateService.labels.header }}"
></ion-alert>

<ion-menu side="end" contentId="main-content" id="menu-lateral">
  <div id="container-menu-lateral">
    <div id="start-menu-lateral">
      <img src="../../assets/images/digiboardLogo.png" alt="logo" />
      <ion-button fill="solid" id="button-entry">Entrar</ion-button>
      <ion-button fill="solid" id="button-register" (click)="this.routerService.irParaRegistro()">Cadastrar</ion-button>
    </div>
    <div id="end-menu-lateral">
      <ion-button fill="solid" id="button-register" (click)="this.routerService.sairParaHome()">Sair</ion-button>
    </div>
  </div>
</ion-menu>