#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20.5px;
}

#container-son {
  display: flex;
  justify-content: space-evenly;
  align-self: stretch;
}

#container img {
  width: 65vw;
}

ion-button {
  flex-basis: 150px;
  --border-radius: 4px;
  --padding-top: 25px;
  --padding-bottom: 25px;
  font-family: Roboto-Black;
  margin-top: 0;
}

.button-entry {
  --background: rgba(0, 0, 0, 1);
  color:white
  // --color: rgba(142, 142, 142, 1);
  // --border-color: rgba(142, 142, 142, 1);
  // --border-width: 2px;
}

.button-register {
  --background: rgba(0, 0, 0, 1);
}

@font-face {
  font-family: Roboto-Black;
  src: url('../../assets/fonts/Roboto-Black.ttf');
}