<ion-content [fullscreen]="true">
  <div id="main-register">
    <div id="back-register">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/functional" icon="arrow-back"></ion-back-button>
      </ion-buttons>
    </div>
    <div id="forms-register">
      <p id="cadastrar">CADASTRAR</p>
      <p id="nome_completo">Nome completo</p>
      <ion-input
        type="name"
        fill="solid"
        labelPlacement="floating"
        helperText="Digite seu nome completo"
        errorText="Nome inválido!"
        [(ngModel)]="nomeCompleto" 
      ></ion-input>
    </div>
    <div id="face-register">
      <ion-button (click)="irParaRegistroDaFace()">Registrar Face</ion-button>
    </div>
  </div>
</ion-content>
